{% load static %}
<section id="header">
    <nav class="navbar navbar-expand-lg navbar-light w-100">
       <div class="container-xl">
          <a class="d-flex p-2" href="index.html">
              <b class="fs-4 col_orange ps-1 align-middle"> <i class="fa fa-newspaper text-white me-1"></i> Crime Reporting System</b>
          </a>
          <button class="navbar-toggler offcanvas-nav-btn  ms-auto me-3" type="button">
             <img src="{% static 'image/icons-svg/list.svg' %}" width="40" height="40" alt="Open TemplateOnweb website menu"/>
          </button>
          <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
             <div class="offcanvas-header shadow">
                 <a class="d-flex p-2" href="index.html">
                       <b class="fs-4 col_orange ps-1 align-middle"> <i class="fa fa-newspaper text-white me-1"></i>Crime Reporting System</b>
                  </a>
                <img src="{% static 'image/icons-svg/x.svg' %}" width="40" height="40" class="ms-auto" data-bs-dismiss="offcanvas" aria-label="Close" alt="Close TemplateOnweb website menu"/>
                
             </div>
             <div class="offcanvas-body pt-0 align-items-center">
                <ul class="navbar-nav align-items-lg-center ms-auto">
                   <li class="nav-item"> 
                       <a class="nav-link dropdown-toggle active" href="{% url 'report:home_page' %}" title="Visit home page">
                       Home
                       </a>
                   </li>

                   <li class="nav-item"> 
                     <a class="nav-link dropdown-toggle" href="{% url 'report:report' %}" title="Visit home page">
                     Register Crime
                     </a>
                 </li>
                   <li class="nav-item"> 
                       <a class="nav-link dropdown-toggle" href="{% url 'admin:login' %}" title="Visit home page">
                       Login As Police Officer
                       </a>
                   </li>
                   <li class="nav-item"> 
                       <a class="nav-link dropdown-toggle" href="{% url 'ums:register' %}" title="Visit home page">
                       Signup As Police Officer
                       </a>
                   </li>    
                   </li>                
                   {% comment %} <li class="nav-item"> 
                       <a class="nav-link dropdown-toggle" href="contact.html" title="Visit home page">
                       Contact Us
                       </a>
                   </li> {% endcomment %}
                   <li class="nav-item"> 
                    <a class="nav-link dropdown-toggle" href="{% url 'report:contact-details' %}" title="Visit home page">
                      My reports / Complaints
                    </a>
                </li>
                   
         <form class="navbar-form" role="search">
         <div class="input-group">
             <input type="text" class="form-control font_14" placeholder="Search Keyword">
             <span class="input-group-btn">
                 <button class="btn btn-primary bg_blue border-0 rounded-0 p-2 px-3" type="button">
                     <i class="fa fa-search"></i> </button>
             </span>
         </div>
         </form>
         </ul>
         </li>
                  </ul>
             </div>
          </div>    
          
          
          </div>
       </div>
    </nav>
 </section>